#!/usr/bin/make -f

export DH_VERBOSE = 1
include /usr/share/dpkg/pkg-info.mk

DEB_BUILD_MAINT_OPTIONS=hardening=+all

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

PYTHON3_VERSIONS = $(shell py3versions -r)
py3sdo = set -e; $(foreach py, $(PYTHON3_VERSIONS), $(py) $(1);)
pyalldo = set -e; $(foreach py, $(PYTHON3_VERSIONS), $(py) $(1);)

S=$(CURDIR)/debian/xython

%:
	#dh $@ --with apache2,python3 --buildsystem=pybuild
	dh $@ --with apache2,python3,cmake --buildsystem=cmake

override_dh_auto_build:
	dh $@ --with apache2,python3,cmake --buildsystem=cmake
	$(call py3sdo, setup.py build)

override_dh_install:
	dh $@ --with apache2,python3i,cmake --buildsystem=cmake
	$(call py3sdo, setup.py install --root=$(CURDIR)/debian/$(DEB_SOURCE) --install-layout=deb)
	mkdir -p debian/tmp
	find |grep apache
	mv etc/apache2/xython.conf debian/tmp/xython.conf

override_dh_installinit:
	dh_installinit -a -- defaults 98 02
