[Unit]
Description=xython SNMP
After=network.target

[Service]
ExecStart=xython-snmpd --etcdir /etc/xython/
WorkingDirectory=/var/lib/xython
Restart=always
User=xython
Group=xython

[Install]
WantedBy=multi-user.target
