[Unit]
Description=xython celery worker
After=network.target

[Service]
EnvironmentFile=-/etc/default/xython-celery
ExecStart=python3 -m celery -A xython worker $CELERY_OPTS
WorkingDirectory=/var/lib/xython
Restart=always
User=xython
Group=xython

[Install]
WantedBy=multi-user.target
